.post-share {
  position: fixed;
  margin-left: -100px;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;

    margin-top: 10px;
  }
}

.share-bottom {
  margin: 10px 0;
  text-align: right;
}
